Welcome, either to the course **Machine and Deep Learning (Mod. A)** or  **Machine Learning**. <br>
In this introductory Jupyter Notebook we play with *python*. <br>
The notebook is organized in two sections: <br>
* Basic python commands with examples;
* Exercises.

# Part 1: Recap of Python Foundamentals (can be skipped)

We first talk about python variable definitions. <br>
Python is smart, and the variable definition is pretty easy. <br>
Moreover, you don't need to specify the variable type since Python uses *dynamic typing*, i.e., it infers the type of the variables you are using.

In [ ]:
a = 10 #this is an integer
b = 1.1 #this is a float
c = True #this is a boolean
a = "hello" #now a is a string

print(a, b, c)

hello 1.1 True

In [ ]:
# math operations
a = 11
b = 5

print(a + b) #sum
print(a - b) #subtraction
print(a * b) #multiplication
print(a / b) #division
print(a // b) # integer division
print(a % b) #rest of the division

16
6
55
2.2
2
1

Similarly, the creation of a list is pretty straightforward. 
List items can be accessed with their index:

In [ ]:
e = [1, 2, 3, 4] #we create a list
print("e =", e)
print("e[1] = ", e[1]) #we print the second item (remember: the indexes start from zero!)
e[1] += 5 #increase by five the second item in our list
print("e =", e)
print("len(e) = ", len(e)) #length of the list

f = [] #empty list
print("f = ", f)
f.append(1) #add 1 to the empty list
f.append(2) #add 2 to the list [1]
print("f = ", f)

#how to deleate the i-th element on a list?
print("e = ", e)
e.pop(2) #remove the item e[2] from e 
print("e = ", e)

e = [1, 2, 3, 4]
e[1] =  2
e = [1, 7, 3, 4]
len(e) =  4
f =  []
f =  [1, 2]
e =  [1, 7, 3, 4]
e =  [1, 7, 4]

Boolean operatos are useful to test different conditions

In [ ]:
print(1 > 1)
print(1 >= 1)
print(1 < 2)
print(1 == 1)
print(1 != 1)

False
True
True
True
False

Besides variables, we might use different commands in our programs: <br>
* if-else statements
* while loops
* for loops

In [ ]:
# here we want to print, between variables a and b, which has the greater value
a = 1
b = 2
if a > b:
    print(a)
else:
    print(b)

2

In [ ]:
#we want to understand if the value in the variable a is contained in the range [0, 10]
a = 10

if a < 0:
    print("Lower")
elif a > 10:
    print("Higher")
else:
    print("Inside")

Inside

In [ ]:
#while loop example: print numbers from 1 to 10
idx = 1
while(idx <= 10):
    print(idx)
    idx += 1 #increase the index by one

1
2
3
4
5
6
7
8
9
10

In [ ]:
# we might want to print all of the items inside a list
# -->len(a) returns the number of items in the list a; 
# -->range(x) returns a list of numbers from 0 to x (not included)

a = [10, 1, 7, 19]
for idx in range(len(a)): 
    print(a[idx])

# if we want to print the elements of the list on the same row, we can use the following variant of the print() command.
# Normally print() moves to the next row after printing its argument. We can change that behaviour using the parameter end="", for example
print("let's print the elements of the list on one row")
for idx in range(len(a)): 
    print(a[idx], end=", ")

10
1
7
19
let's print the elements of the list on one row
10, 1, 7, 19,

We (Computer scientists) like to reuse our code. So it is very useful to write functions that we can reuse in future. <br>
For example, we can define a function as follows:

In [ ]:
def sum(a, b):   # the function accepts two numbers, and it returns their sum
    return a + b # the function returns an integer

print(sum(10, 2))
somma = sum(10, 2.1)
print(somma)

12
12.1

# Part 2: Excercises

### Ex 2.1:  Graduation converter

A teacher is evaluating his kids with grades define between 1 and 10, where 1 is the minimum and 10 the maximum score. <br>
Before inserting a grade on the electronic register, the teacher needs to convert it on the following scale:
* $\leq 3$ -> Completely Insufficient;
* $[4, 5]$ -> Insufficient;
* $[6, 8]$ -> Sufficient;
* $\geq 9$ -> Excellent.

For example, given the following grades: 6, 3, your function should return : Sufficient, Completely Insufficient. <br><br>
**EX 2.1.1** Write a function *grades_converter()* that, given one integer  returns the corresponding textual grade. <br>
Example: *grades_converter*$(6)\rightarrow$ Sufficient<br>

In [14]:
def grades_converter(grade):
    if grade <= 3:
        print('Completely Insufficient')
    elif 4 <= grade <= 5:
        print('Insufficient')
    elif 6 <= grade <= 8:
        print('Sufficient')
    else:
        print('Excellent')


grades_converter(6)

Sufficient

**EX 2.1.2** Complete the box below with a set of commands (a script) that, given a list of integers in the range $[1, 10]$, prints the corresponding textual grade for each of them. <br>

In [ ]:
# You can (you should) reuse the function coded for exercise 2.1.1

student_gradings = [3, 4, 10, 6, 6, 7]

[grades_converter(x) for x in student_gradings]
#
#   complete here EX 2.1.2 
#



#
#   end of EX 2.1.2 
#
# Expected output when printing the list:
# ['Completely Insufficient', 'Insufficient', 'Excellent', 'Sufficient', 'Sufficient', 'Sufficient']



---


Sometimes it is also useful to use **dictionaries**. <br>
Dictionaries are used to store data values in key:value pairs. <br>
Dictionaries extend lists by allowing to access its elements by a generic "key" identifier (as opposed to their numerical position). <br>
For a more in depth overview, see <link>https://www.w3schools.com/python/python_dictionaries.asp</link>.

In [ ]:
#define a dictionary
ex = {
    "key1": 10,
    "key2": 2
}
print("ex = ", ex) #print the entire dictionary
print("len(ex) = ", len(ex)) #print the number of items contained in the dictionary
print(ex.keys()) #print all the keys
print(ex.values()) #print all the values
ex["key1"] = 11 #update a value
ex["key2"] +=1 #update a value
ex["key3"] = 5 #insert a new value 
print(ex)
del ex["key1"] #remove "key1" key-value pair
print("ex after deleting key1 = ", ex)

#the keys can also be integers
ex2 = {
    2: "Hello",
    3: "World"
}
print(ex2[2])

#here some examples on how to loop inside dictionaries
print("Loop example 1")
for key in ex.keys():
    print(key, ex[key])

print("Loop example 2")
#we can also loop among the dictionary pairs <key, values>
for key, value in ex.items():
    print(key, value)

ex =  {'key1': 10, 'key2': 2}
len(ex) =  2
dict_keys(['key1', 'key2'])
dict_values([10, 2])
{'key1': 11, 'key2': 3, 'key3': 5}
ex after deleting key1 =  {'key2': 3, 'key3': 5}
Hello
Loop example 1
key2 3
key3 5
Loop example 2
key2 3
key3 5

We now ask you to update the script you previously wrote. 
In particular, the teacher has a dictionary that contains student name - grading. <br>
**EX 2.1.3** Write a script that converts the numerical grades into their textual representation.

For example, given the following dictionary:

        ex_dict = {
            "Adam": 8,
            "John": 5,
        }

We expect the following result:

        ex_dict = {
            "Adam": "Sufficient",
            "John": "Insufficient",
        }

In [21]:
def grades_converter(grade):
    if grade <= 3:
        return 'Completely Insufficient'
    elif 4 <= grade <= 5:
        return 'Insufficient'
    elif 6 <= grade <= 8:
        return 'Sufficient'
    else:
        return 'Excellent'


student_gradings_dict = {
    "Adam": 8,
    "John": 5,
    "Sasha": 9,
    "Billy": 3
}

result = {}
for k in student_gradings_dict.keys():
    result[k] = grades_converter(student_gradings_dict[k])

print(result)

{'Adam': 'Sufficient', 'John': 'Insufficient', 'Sasha': 'Excellent', 'Billy': 'Completely Insufficient'}

## Ex 2.2 Multiplication Time

**EX 2.2.1** Write a function *times_table* that calculates the times table of the given number and returns it as a list. <br> 
In particular, the function should accept two parameters:
* base
* size (of the output list)

and creates a list with *size* numbers: 0\*base, 1\*base, 2\*base,...

For example *times_table*$(2, 4)$, should return a list with the following items:
$[0, 2, 4, 6]$.

In [22]:
def times_table(base, size):
    result = []
    for i in range(size):
        result.append(i * base)
    return result


print(times_table(3, 5))

[0, 3, 6, 9, 12]

**EX 2.2.2** Write a function that, given a positive integer x, prints the first 10 elements of the times table of all numbers lower or equal than x. <br>
For example f(3) outputs

    1 2 3 4 5 6 7 8 9 10
    2 4 6 8 10 12 14 16 18 20
    3 6 9 12 15 18 21 24 27 30

In [ ]:
#
# EX 2.2.2 write your code here
#


#
# end of EX 2.2.2 
#
multiple_times_tables(3)
# Expected output
#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
#[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

## Ex 2.3 Prime Day

**EX 2.3.1** Write a function that, given a positive integer, returns True if it is a prime number, False otherwise. A number is prime if it is only divisible by itself and 1. Here we assume $1$ is a prime number.

In [ ]:
#
#   complete here EX 2.3.1
#


#
# end of EX 2.3.1
#

print(is_prime(1), is_prime(3), is_prime(4), is_prime(5))
print(is_prime2(1), is_prime2(3), is_prime2(4), is_prime2(5))

#Expected output
#True True False True
#True True False True

**EX 2.3.2** Write a function *n_prime* that, given a number $i$, returns the $i-th$ prime number.  <br>
For example:
* *n_prime*$(1) = 1$
* *n_prime*$(2) = 2$
* *n_prime*$(3) = 3$
* *n_prime*$(5) = 7$

In [23]:
import math


def n_prime(n):
    result = []
    for i in range(1, int(math.sqrt((n * n * n) + 1))):
        for j in range(2, i):
            if (i % j) == 0:
                break
        else:
            result.append(i)
    return result[n - 1]


print(n_prime(18))

59